<div class="flex flex-col justify-center items-center m-4">
  <h1>{{pageHeading}}</h1>
  <div class="flex flex-col w-full" *ngIf="products.length">
    <app-product-list
      class="w-full" 
      [products]="products"
      [primaryBtnLabel]="primaryBtn"
      (primaryActionEmitter)="onAddItemToCart($event)"
      [secondaryBtnLabel]="secondaryBtn"
      (secondaryActionEmitter)="onRemoveItemFromWishlist($event)"
      info="Item added on "
    ></app-product-list>
  </div>
  <div
    class="flex flex-col justify-center items-center mt-36"
    *ngIf="!products.length"
  >
    <p>{{noItemInWishlistMsg}}</p>
    <button mat-raised-button color="primary" (click)="onContinueShopping()">
      {{continueBtn}}
    </button>
  </div>
</div>
