<div class="flex justify-center py-12 xs:py-1 sm:py-1 px-4 sm:px-6 lg:px-8 text-primary-text-color">
    <div class="w-full space-y-8">
      <div>
        <h2
          class="mt-6 text-center text-3xl font-bold tracking-tight"
        >
          Don't have an account? Sign up now!
        </h2>
      </div>
      <p>Form Value : {{registerForm.value | json }}</p>
      <p>Form Status : {{registerForm.status}}</p>
      <form class="flex flex-col mt-8 space-y-6" [formGroup] = "registerForm">
        <!-- <div class="matFormfield"> -->
        <mat-form-field class="matFormfield" appearance="outline">
          <mat-label>Full Name</mat-label>
          <input matInput formControlName="name" placeholder="Full Name" required />
          <mat-error>Name should be atleast 3 characters!</mat-error>
        </mat-form-field>
        <!-- </div> -->
        <!-- <div class="matFormfield"> -->
        <mat-form-field class="matFormfield" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email" required />
          <mat-error>Email format is not proper!</mat-error>
        </mat-form-field>
        <!-- </div>
        <div class="matFormfield"> -->
        <mat-form-field class="matFormfield" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="Password" required />
          <mat-error>Password should be at atleast 8 characters!</mat-error>
        </mat-form-field>
        <!-- </div>
        <div class="matFormfield"> -->
        <mat-form-field class="matFormfield" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" placeholder="Confirm Password" required />
          <!-- <mat-error *ngIf="registerForm.errors?.['passwordsDontMatch']">Passwords do not match!</mat-error> -->
        </mat-form-field>
        <!-- </div> -->
        <mat-error *ngIf="registerForm.errors?.['passwordsDontMatch']">Passwords do not match!</mat-error>
        <div class="flex justify-center">
          <button
          mat-fab
          type="submit" color="primary"
            class="flex justify-center rounded-full border border-transparent bg-indigo-600 py-4 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="person_add"
            ></mat-icon>
          </button>
          {{registerForm.errors | json}}
        </div>
      
      </form>
    </div>
  </div>
  