<div class="flex text-primary-text-color border rounded-full bg-white text-sm xs:mt-2 sm:mt-2">
    <form class="flex flex-1 items-center p-0" action="#" method="">

    
    <button mat-btn class="pr-4" >
        <select  class="py-2 px-6 xs:px-2 m-0 box-border font-thin outline-none bg-transparent" name="sfdsdf" id="" >
            <option value="" >All Categories</option>
            <option value="value">text</option>
            <option value="value">text</option>
            <option value="value">text</option>
            <option value="value">text</option>
            <option value="value">text</option>
            <option value="value">text</option>
        </select>
    </button>
    <div class="flex flex-grow">
        <input type="text" name="" id="" placeholder="Type to search..." class="flex-1 font-thin py-2 pl-2 pr-6 search__input box-border outline-none border-l-2">
        <button mat-mini-fab class="p-2 flex justify-center items-center border border-transparent text-sm  font-thin">
            <mat-icon>search</mat-icon>
          </button>

    </div>
</form>
</div>
