<div
  class="flex xs:flex-wrap sm:flex-wrap justify-between items-center w-full py-6 xs:py-6 px-4 bg-primary-bg-color text-white"
>
  <span class="font-bold text-xl text-white order-1">SHOPPRIX</span>
  <app-searchbar
    class="search__wrapper order-1 xs:order-3 sm:order-3"
  ></app-searchbar>
  <div class="order-1 flex flex-row">
    <button
      class="example-icon order-1 m-2"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="shopping_cart"
      ></mat-icon>
    </button>
    <div class="order-1 m-2">
      <button
        class="example-icon"
        aria-label="Example icon-button with share icon"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="account_circle"
        ></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="person"
        ></mat-icon> Profile</button>
        <button mat-menu-item *ngIf="loginDone" (click)="onSignout()"><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="logout"
        ></mat-icon> 
          Signout
        </button>
        <button mat-menu-item *ngIf="!loginDone" (click)="onSignin()"><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="login"
        ></mat-icon>
          Signin
        </button>
      </mat-menu>
    </div>
  </div>
</div>
<app-navbar [menu]="menuItems"></app-navbar>
