<div>
    <mat-toolbar color="primary">
      <mat-toolbar-row class="flex justify-between">
        <div>        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="phone"
        ></mat-icon>  <a href="tel:+91-7123298989"></a>Hotline: (+91) 7123298989</div>
        <span class="example-spacer">Welcome to our market!</span>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
  
      <mat-toolbar-row class="flex justify-between">
        <span>EMPORIUM</span>
       
        <button
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="shopping_cart"
          ></mat-icon>
          Shopping Cart
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-navbar [menu]="menuItems"></app-navbar>
  </div>
  
