.card__link{
    cursor: pointer;
}
.card__link:hover {
    animation: hover ;
    border: 3px solid #eee;
    border-radius: 2em;
    transform: scale(1.1);
    background-color: red;
    z-index: 999;
    animation-duration: 1.25s;
    animation-name: hover;
    animation-timing-function: ease-in-out;
}

@keyframes hover {
    0% {
        transform: scale(1);
      }
    
      100% {
        transform: scale(1.1);
      }
}