<div class="flex flex-col justify-center items-center">
  <!-- <p>Form Value : {{changePasswordForm.value | json }}</p>
      <p>Form Status : {{changePasswordForm.status}}</p> -->
  <form
    class="flex flex-col mt-8 w-1/2"
    [formGroup]="changePasswordForm"
  >
    <mat-form-field class="matFormfield" appearance="outline">
      <mat-label>Current Password</mat-label>
      <input
        matInput
        formControlName="currentPassword"
        placeholder="Current Password"
      />
      <mat-error>Password should be at atleast 8 characters!</mat-error>
    </mat-form-field>
    <mat-form-field class="matFormfield" appearance="outline">
      <mat-label>New Password</mat-label>
      <input
        matInput
        formControlName="newPassword"
        placeholder="New Password"
      />
      <mat-error>Password should be at atleast 8 characters!</mat-error>
    </mat-form-field>
    <mat-form-field class="matFormfield" appearance="outline">
      <mat-label>Confirm New Password</mat-label>
      <input
        matInput
        formControlName="confirmNewPassword"
        placeholder="Confirm New Password"
        #confirmPassword
      />
      <mat-error>Confirm Password should be at atleast 8 characters!</mat-error>
    </mat-form-field>

    <mat-error *ngIf="changePasswordForm.errors?.['passwordsDontMatch']"
      >New Password and Confirm New Password do not match!</mat-error
    >

    <button
      mat-raised-button
      type="submit"
      [disabled]="!changePasswordForm.valid"
    >
      {{ changePasswordBtn }}
    </button>
  </form>
</div>
