<div class="flex flex-col justify-center items-center m-4">
  <h1>{{pageHeading}}</h1>
  <div class="flex flex-col w-full" *ngIf="products.length">
    <!-- <app-product-list
      class="w-full"
      [products]="products"
      [buttons]="[
        { label: 'Reorder', action: null },
        { label: 'Write a review', action: null }
      ]"
      [info]="'Item ordered on '"
    ></app-product-list> -->
  </div>
  <div
    class="flex flex-col justify-center items-center mt-36"
    *ngIf="!products.length"
  >
    <p>{{noOrderHistoryMsg}}</p>
    <button mat-raised-button color="primary" (click)="onContinueShopping()">
     {{continueBtn}}
    </button>
  </div>
</div>
