<div class="flex flex-col justify-center items-center m-4">
  <h1>{{pageHeading}}</h1>
  <div class="flex flex-col w-full" *ngIf="previousOrders.length">
    <ul class="flex flex-row flex-wrap justify-start">
      <li *ngFor="let order of previousOrders; index as i" class="m-2">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{order.date}}</mat-card-title>
              <mat-card-subtitle>order confirmed</mat-card-subtitle>
              <!-- <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" > -->
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
           Items ordered :  <p *ngFor="let item of order.cart; index as i">
              {{item?.title}}, 
            </p>
          </mat-card-content>
        </mat-card>
      </li>
    </ul>
  </div>
  <div
    class="flex flex-col justify-center items-center mt-36"
    *ngIf="!previousOrders.length"
  >
    <p>{{noOrderHistoryMsg}}</p>
    <button mat-raised-button color="primary" (click)="onContinueShopping()">
     {{continueBtn}}
    </button>
  </div>
</div>
