<div class="flex flex-col justify-center items-center p-4 w-full">
  <h1>{{ pageHeading }}</h1>
  <div class="flex flex-row w-full">
    <div class="flex flex-row m-2 w-full justify-between items-start">
      <mat-card class="w-[550px]">
        <!-- <mat-card-header>
          <mat-card-title><mat-chip-list
            ><mat-chip class="bg-green-600" color="warn">
              <button>
                <mat-icon>star</mat-icon>
              </button>
              {{product.avgrating}}
            </mat-chip></mat-chip-list
          ></mat-card-title>
   
        </mat-card-header> -->
        <img
          mat-card-image
          [src]="product.imgUrl"
          [alt]="product.title"
          class="w-[200px]"
        />
        <!-- <mat-card-content>
          <div class="flex flex-row justify-center items-center px-2 shadow rounded border-2 border-black-100">
            Qty: {{ min
            }} <mat-slider
              [max]="max"
              [min]="min"
              [step]="step"
              [(ngModel)]="quantity"
              (change)="onSlider()"
            ></mat-slider
            > {{ max }}
          </div>
        </mat-card-content> -->
        <div class="flex flex-row items-center">
          <!-- <button mat-raised-button (click)="onContinueShopping()">{{exploreMoreBtn}}</button> -->
          <button class="btn flex-1 m-2 h-[50px]" (click)="onAddToWishlist()">
            {{ addToWishlistBtn }}
          </button>
          <button
            class="btn flex-1 m-2 h-[50px] primary"
            color="primary"
            (click)="onAddToCart()"
          >
            {{ addToCartBtn }}
          </button>
        </div>
      </mat-card>
      <div class="flex flex-col flex-1 px-16">
        <div class="flex flex-row justify-between items-center">
          <h2>
            {{ product.title }}
          </h2>
          <div
            class="flex items-center bg-green-600 rounded-3xl text-white px-6 py-2"
          >
            <mat-icon>star</mat-icon>{{ product.avgrating }}
          </div>
        </div>

        <p>{{ product.category }}</p>
        <h1 class="">
          <span class="font-bold text-sm text-green-600"> Special Price </span
          >{{ product.price | currency }}
        </h1>
        <p>{{ product.description }}</p>

        <p class="font-bold text-md text-green-600">
          Seller
          <span class="font-normal text-gray-500"> {{ product.seller }}</span
          ><mat-icon>verified</mat-icon>
        </p>
        <ul>
          <li class="flex items-center text-md text-green-600 my-2">
            <mat-icon>currency_rupee</mat-icon
            ><span class="font-normal text-gray-500">
              {{ product.services.cod }}*</span
            >
          </li>
          <li class="flex items-center text-md text-green-600 my-2">
            <mat-icon>star</mat-icon
            ><span class="font-normal text-gray-500">
              {{ product.services.return }}**</span
            >
          </li>
        </ul>
        <div class="flex flex-row justify-start items-center">
          <span class="font-bold text-sm text-green-600 mr-2">Select Quantity</span>
          <span class="font-normal text-2xl text-gray-500">{{ min }}</span>
          <mat-slider
            [max]="max"
            [min]="min"
            [step]="step"
            [(ngModel)]="quantity"
            (change)="onSlider()"
            color="primary"
          ></mat-slider
          ><span class="font-normal text-2xl text-gray-500"> {{ max }}</span>
        </div>
        <div class="mt-4">
          <button mat-raised-button (click)="onContinueShopping()">
            {{ exploreMoreBtn }}
          </button>
        </div>
      

        <!-- <img mat-card-image [src]="product.imgUrl" [alt]="product.title" class="w-[200px]"> -->
        <!-- <mat-card-content>
              <div
            class="flex flex-row justify-center items-center px-2 shadow rounded border-2 border-black-100"
          >
            Qty: {{ min }}
            <mat-slider
              [max]="max"
              [min]="min"
              [step]="step"
              [(ngModel)]="quantity"
              (change)="onSlider()"
            ></mat-slider>
            {{ max }}
          </div>
        </mat-card-content> -->
        <!-- <mat-card-actions>
        </mat-card-actions> -->
      </div>
    </div>
  </div>
</div>
