.product__image{
    cursor: pointer;
    box-shadow: 5px 5px 5px var(--primary-bg-color);
}
.product__image:hover {
    position: relative;
    /* z-index: 55; */
background-color: white;
    animation: hover ;
    border: 3px solid #eee;
    border-radius: 1em;
    transform: scale(1.5);
    /* box-shadow: 5px 5px 5px #aaa; */
    /* background-color: red; */
    z-index: 999;
    animation-duration: 0.5s;
    animation-name: hover;
    animation-timing-function: ease-in-out;
}

@keyframes hover {
    0% {
        transform: scale(1);

        /* box-shadow: none; */
      }
    
      100% {
        transform: scale(1.5);

        /* box-shadow: 5px 5px 5px #aaa; */
      }
}