<div class="flex flex-col justify-center items-center p-4 w-full">
  <h1>{{pageHeading}}</h1>
  <div class="flex flex-row w-full">
    <div
      class="flex flex-col m-2 w-full items-center "
    >
      
      <mat-card class="w-[550px]">
        <mat-card-header>
          <mat-card-title>{{ product.title }}<span class="text-md"
            >({{ product.price | currency }} * {{ quantity }} = {{ product.price * quantity | currency }})</span
          ></mat-card-title>
          <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="product.imgUrl" [alt]="product.title" class="w-[200px]">
        <mat-card-content>
          <div class="flex flex-row justify-center items-center px-2 shadow rounded border-2 border-black-100">
            Qty: {{ min
            }} <mat-slider
              [max]="max"
              [min]="min"
              [step]="step"
              [(ngModel)]="quantity"
              (change)="onSlider()"
            ></mat-slider
            > {{ max }}
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="onContinueShopping()">{{exploreMoreBtn}}</button>
          <button mat-button (click)="onAddToWishlist()">{{addToWishlistBtn}}</button>
          <button mat-button color="primary" (click)="onAddToCart()">{{addToCartBtn}}</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>
