<ul class="flex flex-row flex-wrap justify-start">
  <li *ngFor="let product of products; index as i" class="m-2">
    <mat-card class="w-[300px]">
      <mat-card-header>
        <mat-card-title>{{ product.title }}</mat-card-title>
        <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="product.imgUrl" [alt]="product.title" />
      <mat-card-content>
        <h2>{{ product.price | currency }}</h2>
        <p>
          <em>{{ info }}</em
          >{{product.date}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="secondaryAction(product)">
          {{ secondaryBtnLabel }}
        </button>
        <button mat-button color="primary" (click)="primaryAction(product)">
          {{ primaryBtnLabel }}
        </button>
      </mat-card-actions>
    </mat-card>
  </li>
</ul>
