<div class="flex flex-col justify-evenly items-center text-white bg-black p-4">

  <div class="flex flex-row justify-between items-start p-16 w-full">
    <div class="flex flex-col">
        <img class="w-40" src="./../../../assets/images/brand/shopprix.svg" alt="" />
        <p>Everything you need is right here.</p>
      </div>
    <div class="flex flex-col">
      <h1>Links</h1>
      <ul>
        <li>Testimonials</li>
        <li>Contact</li>
        <li>Social</li>
        <li>Explore</li>
      </ul>
    </div>
    <div class="flex flex-col">
      <h1>Company</h1>
      <ul>
        <li>About Us</li>
        <li>Terms and Conditions</li>
        <li>Privacy Policy</li>

      </ul>
    </div>
    <div class="flex flex-col">
      <h1>Address</h1>
      <ul>
        <li>35, Shopprix HQ</li>
        <li>Cyber City, Phase I</li>
        <li>Metropoliton Area</li>
        <li>New City</li>
        <li>India, 434888</li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center mt-8">
    <p>Copyright &copy; 2022. Shopprix, inc.</p>
  </div>
</div>
